<div>
    <div style="text-align: center;">
        <img src="cid:banner" alt="">
    </div>
    <h1>Restore your password</h1>
    <p>You can restore your password clicking on <a href="http://localhost:8080/password-restore?token={{token}}">Here!</a></p>
</div>