<div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #333; text-align: center; margin-bottom: 20px;">
        Dear {{productOwner}},
    </h1>
    <div style="text-align: center;">
        <img src="cid:banner" alt="" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
    </div>
    <div style="margin-top: 20px;">
        <p style="color: #555; line-height: 1.5; text-align: left;">
            Product with _id {{product._id}} has been deleted by ADMIN.
        </p>
        <p style="color: #555; line-height: 1.5; text-align: left;">
            In case you want to add a new product, please go to our website
        </p>
    </div>
</div>