<div>
    <h1>
        Welcome!, {{user.userName}}
    </h1>
    <div style="text-align: center;">
        <img src="cid:banner" alt="">
    </div>
    <div>
        <p>Prepare yourself to learn the latest practices about AI</p>
        <p>Please, invite more people to our AI community</p>
        <h2>Now you can start revising our courses <a href="http://localhost:8080/products" style="color: yellow;"></a></h2>
    </div>
</div>