<div class="main-container">
    <div class="card">
        <div class="container">
            <h1>Profile de {{this.user.userName}}</h1>
            <p id="userId">Id: {{this.user._id}}</p>
            <p>Email: {{this.user.email}}</p>
            <p>Role: {{this.user.role}}</p>

            <button id="upgradeRoleButton">Upgrade role</button>
            <button id="logoutButton">Logout</button>
        </div>
    </div>
</div>

<script src="./js/upgradeRole.js"></script>
<script src="./socket.io/socket.io.js"></script>
<script src="./js/logout.js"></script>