<div class="container">

    <div class="sign-up">

        <h1>Sign up</h1>

        <h2>Be part of a distinct AI community</h2>

    </div>

    <form class="form" id="registerForm">

        <label for="firstName">First name: </label>
        <input type="text" name="firstName">

        <label for="lastName">Last name: </label>
        <input type="text" name="lastName">

        <label for="email">Email: </label>
        <input type="email" name="email">

        <label for="birthDate">Birth date</label>
        <input type="date" name="birthDate">

        <label for="userName">Username</label>
        <input type="text" name="userName">

        <label for="password">Password</label>
        <input type="password" name="password">

        {{!-- <label for="repeatedPassword">Repeated Password</label>
        <input type="password" name="repeatedPassword"> --}}

        <input type="submit" value="submit">

    </form>

    <span id="passwordError" style="color: red;"></span>

</div>

<script src="./js/register.js"></script>