    <div class="main-container">
        <div class="card">
            <div class="container">
                <h1>Congratulations! You are now a Premium User</h1>
                <div class="content">
                    <p>Start creating your products</p>
                    <a href="/product-creator">Get Started</a>
                </div>
            </div>
        </div>
    </div>