body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.cart-container {
    max-width: 75vw; /* Adjust to 75% of the viewport width */
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 20px; /* Adjust font size */
    color: #333;
    text-align: center;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust for space between cards */
}

.product-card {
    width: 40%;
    max-width: 200px; /* Set a maximum width for each card */
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
}

.product-card:hover {
    transform: scale(1.05);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

p {
    font-size: 12px; /* Adjust font size */
    color: #555;
    margin: 5px 0;
}

.description {
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .product-card {
        width: 100%;
    }
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}