body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

#cart-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #0077b6;
    cursor: pointer;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: #fff;
}

.header h1 {
    font-size: 36px;
    margin: 0;
    font-weight: 600;
}

.page-title {
    display: flex;
    justify-content: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    max-width: 100%;
    height: 300px; 
    object-fit: cover;
    border-radius: 10px;
}

.product h1 {
    font-size: 20px;
    margin: 15px 0;
    color: #333;
}

.product p {
    margin: 10px 0;
    color: #666;
}

.product form {
    text-align: center;
}

.product form input[type="number"] {
    width: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.product form input[type="submit"] {
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product form input[type="submit"]:hover {
    background-color: #005ba8;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    background: #0077b6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.pagination button:hover {
    background: #005ba8;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

.container {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.icon-cart {
    font-size: 24px;
    color: #0077b6;
}

a {
    text-decoration: none;
    color: #0077b6;
    transition: color 0.3s ease;
}

a:hover {
    color: #005ba8;
}